.bg-secondary {
    background-color: #001F3F !important; /* Azul Marino */
}

.copyright {
    background-color: #001F3F; /* Azul Marino */
}

.bg-primary {
    background-color: #3CB371 !important; /* Verde Moneda */
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.btn-primary {
    background-color: #3CB371 !important; /* Verde Moneda */
    border-color: #3CB371 !important; /* Verde Moneda */
}

.btn-primary:hover {
    background-color: #2E8B57 !important; /* Verde Moneda más oscuro */
    border-color: #2E8B57 !important; /* Verde Moneda más oscuro */
}