{% extends 'pages/base.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Registrar nuevo servicio</div>
        <div class="card-body">
          {% if messages %}
          <div class="alert alert-success text-center">
            {% for message in messages %}
            <h4>{{ message }}</h4>
            {% endfor %}
            <a href="{% url 'index' %}" class="btn btn-primary"
              >Ver Servicios</a
            >
          </div>
          {% else %}
          <form method="POST" action="{% url 'form' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Enviar" />
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}