{% extends 'pages/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <form action="{% url 'update' product.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}